.nav-links {
    padding-top: 10px;
    display: flex;
    list-style: none;
    align-items: center;
}
.nav-links li {
    padding: 10px 15px;
 
}
.nav-links li a {
    text-decoration: none;
    color: #3C4A54;
}
.header-img {
    margin: 0 auto;
}
.header-img img {
    min-width: auto;
}
.about-item-text p,
.about-item-text h3{
    text-align: end;
    padding: 15px 10px;
}
.about {
    padding-top: 70px;
    padding-bottom: 70px;
}
.about-item-text.first {
    background-image:url(../img/target.png);
    background-repeat: no-repeat;
    background-position-y: 100%;
}
.about-item-text.second {
    background-image:url(../img/actual.png);
    background-repeat: no-repeat;
    background-position-y: 100%;
}
.about-item-text.third {
    background-image:url(../img/members.png);
    background-repeat: no-repeat;
    background-position-y: 100%;
}
.course-title {
    padding-bottom: 30px;
}
.stage-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 1 auto;
    text-align: center;
    margin-bottom: 125px;
}
.bg-snake {
    background: url(../img/line1.png),
    url(../img/line2.png);
    background-repeat: no-repeat;
    background-size: 97% ,82%;
    background-position: 14px 46px, 13px 243px; 
}
.header-img div{
    padding: 10px 0;
}   







/* 
@media (max-width: 800px) {
    .bg-snake {
        background: url(../img/linehr.png),
        url(../img/linehr.png), 
        url(../img/linehr.png);
        background-repeat: no-repeat;
        background-size: 60%, 60%, 60%;
        background-position-x: 180px;
        background-position-y: 50px, 360px, 693px;
    } 
     */
    
@media (max-width: 990px) {
    .about-item-text p,
    .about-item-text h3{
        text-align: center;
        padding: 15px 10px;
    }
    .rev-img { 
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }
    .rev-img img:nth-child(1) {
        width: 24px;
        height: 24px;
    }
    .bg-snake {
        background: url(../img/linehr.png),
        url(../img/linehr.png), 
        url(../img/linehr.png);
        background-repeat: no-repeat;
        background-size: 60%, 60%, 60%;
        background-position-x: 180px;
        background-position-y: 50px, 360px, 667px;
    }
   
}
@media (max-width: 767px) {
    .bg-snake {
        background: url(..);
    } 
    .item-img .point {
        display: none;
    }
}