.nav-links {
    padding-top: 10px;
    display: flex;
    list-style: none;
    align-items: center;
}
.nav-links li {
    padding: 10px 15px;
 
}
.nav-links li a {
    text-decoration: none;
    color: #3C4A54;
}