.nav-links {
    padding-top: 10px;
    display: flex;
    list-style: none;
    align-items: center;
}
.nav-links li {
    padding: 10px 15px;
 
}
.nav-links li a {
    text-decoration: none;
    color: #3C4A54;
}
.header-img {
    margin: 0 auto;
}
.header-img img {
    width: 330px;;
}
.about-item-text p,
.about-item-text h3{
    text-align: end;
    padding: 15px 10px;
}
.about-item-img {
    width: 416px;
    height: 169px;
    margin: 0 auto;
}
.about {
    padding-top: 70px;
    padding-bottom: 70px;
}
.about-item-text.first {
    background-image:url(../img/target.png);
    background-repeat: no-repeat;
    background-position-y: 100%;
}
.about-item-text.second {
    background-image:url(../img/actual.png);
    background-repeat: no-repeat;
    background-position-y: 100%;
}
.about-item-text.third {
    background-image:url(../img/members.png);
    background-repeat: no-repeat;
    background-position-y: 100%;
}
.course-title {
    padding-bottom: 30px;
}
.stage-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 1 auto;
    text-align: center;
    margin-bottom: 125px;
}
.bg-snake {
    background: url(../img/line1.png),
    url(../img/line2.png);
    background-repeat: no-repeat;
    background-size: 97% ,82%;
    background-position: 14px 46px, 13px 243px; 
}
.header-img div{
    padding: 10px 0;
}   
.news-container {
    justify-content: space-evenly;
}
.news-item {
    /* padding-right: 120px; */
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 10px 10px;
}
.second-bg {
    background-color: #EEF5FC;
}
.news-item {
    background-color: #ffffff;
    width: 340px;  
    margin: 0 auto;
    margin-top: 20px;
}
.date-link {
    display: flex;
    justify-content: space-between;

}
.news-item img {
    box-sizing: border-box;   
}
.docs-item {
    min-width: 330px;
    height: 168px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    margin: 0 auto;
}
.docs-item a {
    margin-left: 40px;
}
.docs-img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    box-sizing: border-box;
    margin: 0 auto;
}
.bg-docs {
    background-image: url(../img/bgnews.png);
    background-repeat: no-repeat;
    background-size: contain;
    padding: 0;
    box-sizing: border-box;
    margin: 0 auto;
}
.docs-text h4 {
    font-size: 18px;
}
.docs-text p {
    font-size: 14px;
    line-height: 19px;
    text-align: justify;
}
.docs-text {
    width: 185px;
    padding: 45px 15px 0 15px;
}
.img-docs {
    padding: 0;
    margin: 0 auto;
}
.img-docs a img {
    width: 330px;
}
.experts {
    background: #F8F8F8;
}
.exp-item {
    width: 300px;
    height: 430px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    background: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(138, 143, 149, 0.2), 0px 4px 5px rgba(138, 143, 149, 0.03), 0px 1px 10px rgba(138, 143, 149, 0.03);
    margin: 40px auto;
}
.exp-item img {
    padding: 29px 73px;
}
.exp-text {
    text-align: center;
    padding: 0px 30px 45px 30px;
}
.exp-text h3 {
    font-size: 22px;
    color: #3C4A54;
}
.exp-text p {
    font-style: italic;
    font-size: 14px;
    color: #636C72;
}

/* 
@media (max-width: 800px) {
    .bg-snake {
        background: url(../img/linehr.png),
        url(../img/linehr.png), 
        url(../img/linehr.png);
        background-repeat: no-repeat;
        background-size: 60%, 60%, 60%;
        background-position-x: 180px;
        background-position-y: 50px, 360px, 693px;
    } 
     */
    
@media (max-width: 990px) {
    .about-item-text p,
    .about-item-text h3{
        text-align: center;
        padding: 15px 10px;
    }
    .rev-img { 
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }
    .rev-img img:nth-child(1) {
        width: 24px;
        height: 24px;
    }
    .bg-snake {
        background: url(../img/linehr.png),
        url(../img/linehr.png), 
        url(../img/linehr.png);
        background-repeat: no-repeat;
        background-size: 60%, 60%, 60%;
        background-position-x: 180px;
        background-position-y: 50px, 360px, 667px;
    }
   
}
@media (max-width: 767px) {
    .bg-snake {
        background: url(..);
    } 
    .item-img .point {
        display: none;
    }
}